<div class="jumbotron jumbotron-fluid" style="text-align: center">
  <div class="container">
    <h1 class="display-4">SceneIT</h1>
    <p class="lead">Track watched movies and what to watch.</p>
  </div>
</div>

<div class="row">

  <div class="col-md-5 text-center">
    <div class="form-check form-check-inline">
      <input id="searchRadio1" type="radio" class="form-check-input" name="search" value="1" checked>
      <label class="form-check-input" for="searchRadio1">Top Movies</label>
    </div>
    <div class="form-check form-check-inline">
      <input id="searchRadio2" type="radio" class="form-check-input" name="search" value="0">
      <label id="form-check-input" for="searchRadio2">Seen</label>
    </div>

    <div id="seenFalse">
      <ol>
      {{#each movie}}
      {{#unless this.seen}}
      <li>
        <label>{{this.movie_name}}</label>
        <button type="submit" class="btn btn-sm btn-link" id="seen-btn" value={{this.id}}>
          <i class="fas fa-film"></i>
        </button>
        <button type="submit" class="btn btn-sm btn-link" id="delete-btn" value={{this.id}}>
          <i class="far fa-trash-alt"></i>
        </button>
      </li>
      {{/unless}}
      {{/each}}
      </ol>
    </div>

    <div id="seenTrue">
      <ol>
      {{#each movie}}
      {{#if this.seen}}
      <li>
        <label>{{this.movie_name}}</label>
        <button type="submit" class="btn btn-sm btn-link" id="seen-btn" value={{this.id}}>
          <i class="fas fa-film"></i>
        </button>
        <button type="submit" class="btn btn-sm btn-link" id="delete-btn" value={{this.id}}>
          <i class="far fa-trash-alt"></i>
        </button>
      </li>
      {{/if}}
      {{/each}}
      </ol>
    </div>
  </div>

  <div class="col-md-7 text-center">
    //This is where the OMDB preview will be!
  </div>

</div>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6 text-center" id="add-form">
    <form action="/add" method="POST">
      <div class="form-group">
        <label for="new-movie" class="control-label">Add to your watch list!</label>
        <input class="form-control" type="text" id="title" name="name" value="" placeholder="Movie Name">
        <input class="form-control" type="text" id="genre" name="genre" value="" placeholder="Genre">
        <input class="form-control" type="text" id="year" name="year" value="" placeholder="Year">
        <button type="submit" class="btn btn-success btn-block" id="addBtn">Add Movie</button>
      </div>
    </form>
    {{#if alert}}
    <p style="color: blue;">{{alert}}</p>
    {{/if}}
  </div>
  <div class="col-md-3"></div>
</div>

{{!-- <div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>This is our Home Page!</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Example Text</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Example Description"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div> --}}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>